<div class="bgimage" id="freakingBackground">
    {{!-- <div class="button"> --}}
    <button class="button" type="button" {{action "zoomIn"}}>
        Sign in Here
    </button>
    {{!-- </div> --}}
</div>